/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --violet: #6344e2;
  --blue: #5992f1;
  --red: #f1534d;
  --skyblue: #cff3f3;
  --white: #fffafa;
  --dark-red: #C62822;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* *************************** */

header {
  width: 100%;
  height: 130vh;
  background: url("../image/bg.svg");
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: transparent;
}

.change-nav{
  background: linear-gradient(112.77deg, #6344E2 -8.78%, #5992F1 100%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.logo a img {
  width: 200px;
}

ul.menu {
  display: flex;
}

ul.menu li:not(:last-child) {
  margin-right: 30px;
}
ul.menu li a {
  color: var(--white);
}

.row-hero {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.part-title {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.part-title h1 {
  font-size: 40px;
  color: var(--white);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.part-title h1 span {
  font-weight: 500;
}

.part-title a.btn-cta {
  margin-top: 30px;
  padding: 15px 0;
  width: 241.5px;
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: .3s ease-in-out;
}

.part-title a.btn-cta:hover{
  background-color: var(--dark-red);
}

/* *************************** */

.kasus-data {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
}

#kasus {
  position: relative;
}

#kasus::before {
  content: url("../image/vector-img2.svg");
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: -1;
}

.kasus-data h2 {
  font-weight: 600;
  font-size: 30px;
}

.kasus-data p {
  font-weight: 300;
  font-size: 20px;
}

.box-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

.card {
  width: 369.17px;
  height: 250px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .2s ease-in-out;
  position: relative;
}

.card:hover{
  transform: scale(1.1);
}

.card .data{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.card .data.data1{
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

.card .data.data1 img{
  max-width: 100%;
}

.card .data.data1 h3{
  text-align: center;
  font-size: 1.2em;
}

.card:hover .data.data1{
  transform: translateY(-100%) rotateX(90deg);
  background: transparent;
}

.card .data.data2{

  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.card:hover .data.data2{
  transform: translateY(0) rotateX(0deg);

}

.card .data.data2 h3{
  margin-bottom: 20px;
  font-size: 1rem;
}

.card .data.data2 p{
  font-size: 2em;
}

/* *************************** */

.info-corona {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-info{
  width: 600px;
}

.img-info img{
  width: 100%;
}

.text-corona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 80%;
}

.text-corona h2 {
  font-weight: 300;
  font-size: 30px;
}

.text-corona h2 span {
  font-weight: 600;
  font-size: 40px;
}

.text-corona p {
  margin: 20px 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #444;
  font-weight: normal;
}

.text-corona .btn-info {
  margin-top: 20px;
  padding: 15px 0;
  width: 230px;
  background: linear-gradient(103.7deg, #6459fc -4.63%, #276fda 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

  border-radius: 6px;
  text-align: center;
  color: var(--white);
  transition: 0.5s inherit;
}

.text-corona .btn-info:hover {
  background: #6459fc;
}

/* *************************** */

.gejala {
  width: 100%;
  height: 1000px;
  padding-top: 150px;
  text-align: center;
}

#gejala {
  position: relative;
}

#gejala::before {
  content: url("../image/bg3.svg");
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  top: 30%;
  left: 22%;
}

.gejala h2 {
  font-weight: 300;
  font-size: 30px;
}

.gejala h2 span {
  font-weight: 600;
  font-size: 40px;
}


.wrapper {
  display: grid;
  padding-top: 130px;
  margin-left: 200px;
  grid-gap: 20px;
  grid-template-columns: 250px 250px 250px;
  color: #444;
}

.gejala-box {
  background-color: var(--white);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 250px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.gejala-box:hover{
  transform: scale(1.1);
}

.b {
      grid-column: 2 ;
      grid-row: 1;
}
.d {
      grid-column: 3 ;
      align-self: center;
      grid-row: 1 / 3;
}
.a {
      grid-column: 1 ;
      grid-row: 1 / 3 ;
      align-self: center;
}
.c {
      grid-column: 2;
      grid-row: 2;
}

.gejala-box img{
  margin-top: 30px;
}
.gejala-box p{
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
}


.cegah-corona {
  width: 100%;
  height: 1000px;
  padding-top: 150px;
  text-align: center;
}

#cegah-corona {
  position: relative;
}

#cegah-corona::before {
  content: url("../image/bg-cegah.svg");
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  left: 0%;
}


.wrapper-cegah {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #fff;
  
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.cegah-box {
  color: #000;
  height: 250px;
  padding: 20px;
  text-align: left;
  font-size: 150%;
  font-family: Montserrat;
}

.cegah-corona img{
  width: 85px;
}
.cegah-corona .pas{
  width: 130px;
}
.cegah-corona .pas2{
  width: 170px;
}
.cegah-corona .pas3{
  width: 93px;
}

.cegah-corona h4{
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}

.cegah-corona p{
  font-size: 16px;
  color: #333333;
}

/* *************************** */
.berita {
  width: 100%;
  height: 650px;
  padding-top: 50px;
  text-align: center;
}

#berita {
  position: relative;
}

.berita h2 {
  font-weight: 300;
  font-size: 30px;
}

.berita h2 span {
  font-weight: 600;
  font-size: 40px;
}


.box-berita {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  border-radius: 5px;
}

.data-berita {
  width: 370px;
  height: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.data-berita img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.data-berita p{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
  margin: 30px 40px;
}


/* *************************** */

footer{
  width: 100%;
  background: linear-gradient(112.77deg, #6344E2 -8.78%, #5992F1 100%);
  text-align: center;
  padding: 50px 0;
}

.icon-medsos{
  margin-bottom: 20px;
}
.icon-medsos .midicon{
  margin: 0 20px;
}

footer p{
  color: white;
  font-family: Poppins; 
font-size: 16px;
}